<html lang="<%= locale %>">
<head>
    <base href="/interLoc/" />
    <title><%= translate('title') %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        ul {
            list-style-type: none;
        }

        .morning,
        .afternoon,
        .evening {
            background-size: 100vw 100vh;
            background-repeat: no-repeat;
        }

        .cs-morning {
            background-image: url("/public/img/cs/kevin-andre-morning-unsplash.jpg");
        }

        .cs-afternoon {
            background-image: url("/public/img/cs/afternoon.jpg");
        }

        .cs-evening {
            background-image: url("/public/img/cs/yoav-aziz-evening-unsplash.jpg");
        }

        .en-morning, .en-US-morning {
            background-image: url("/img/en/morning.jpg");
        }

        .en-afternoon, .en-US-afternoon {
            background-image: url("/img/en/afternoon.jpg");
        }

        .en-evening, .en-US-evening {
            background-image: url("/img/en/evening.jpg");
        }

        .ja-morning {
            background-image: url("/img/ja/christian-papaux-morning-unsplash.jpg");
        }

        .ja-afternoon {
            background-image: url("/img/ja/afternoon.jpg");
        }

        .ja-evening {
            background-image: url("../alex-knight-evening-unsplash.jpg");
        }

        .pageContents {
            background-color: rgba(0, 0, 0, .5);
            color: #C0C0C0;
            padding: .75rem;
        }

        .alert {
            margin-bottom: 0;
        }

        .verticalForJapanese {
            font-size: 1.5rem;
            letter-spacing: 5px;
            -webkit-writing-mode: vertical-rl;
            -moz-writing-mode: vertical-rl;
            width: 100vw;
            writing-mode: vertical-rl;
        }
    </style>
</head>
<%
    let pageStructure = (locale === 'ja') ? 'verticalForJapanese' : 'westernPageStructure';
%>
<nav class="sticky-top text-center">
    <div class="alert alert-info" role="alert">
        <%= translate('nav_welcome') %>
        <div>
            <h3 class="mt-5">
                <%= translate('nav_title') %>
            </h3>
            <ul>
                <% if (locale !== 'en-US') { %>
                    <li>
                        <a href="/interLoc/?lang=en-US" hreflang="en-US" referrerpolicy="no-referrer" rel="noreferrer noopener" target="_self">
                            <%= translate('nav_option_0') %>
                        </a>
                    </li>
                <% } %>
                <% if (locale !== 'en') { %>
                    <li>
                        <a href="/interLoc/?lang=en" hreflang="en" target="_self">
                            <%= translate('nav_option_1') %>
                        </a>
                    </li>
                <% } %>
                <% if (locale !== 'cs') { %>
                    <li>
                        <a href="/interLoc/?lang=cs" hreflang="cs" target="_self">
                            <%= translate('nav_option_2') %>
                        </a>
                    </li>
                <% } %>
                <% if (locale !== 'ja') { %>
                    <li>
                        <a href="/interLoc/?lang=ja" hreflang="ja" target="_self">
                            <%= translate('nav_option_3') %>
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
<body class="<%= pageStructure %> <%= timeOfDay %> <%= locale %>-<%= timeOfDay %>">

<div class="pageContents">
    <h1>
        <%= translate('title') %>
    </h1>
    <div>
        <h3><%= translate(timeOfDay) %></h3>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>